 <!-- Header Section -->
    <header class="header">
        <div class="container">
            <div class="logo-wrapper">
                <a href="musti.html" class="logo">ATC AfriGlam</a>
            </div>
            <nav class="main-nav">
                <a href="/" class="nav-link">Home</a>
                <a href="/about" class="nav-link">About Us</a>
                <a href="/shop" class="nav-link">Shop</a>
                <a href="#faq" class="nav-link">FAQs</a>
                <a href="#contact" class="nav-link">Contact Us</a>
            </nav>
            <div class="cart-icon-wrapper">
                <a href="cartPage.html" class="cart-icon-link">
                    <!-- Cart Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" class="cart-icon">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 3h2l.4 2M7 13h10l1.5-7H6.5L5 3H1M7 13l-1 5a2 2 0 002 2h10a2 2 0 002-2l-1-5M7 13h10" />
                    </svg>
                </a>
            </div>
            <button class="mobile-menu-btn">
                <i class="fas fa-bars menu-icon"></i> <!-- Font Awesome hamburger icon -->
            </button>
        </div>
    </header>